.header {
    height: 230px;
    width: 100%;
    background-color: #444444;
}
.body-background {
    background-color: #d8d8d8;
    height: 1025px;
}
.body {
    width: 450px;
    height: 100%;
    background-color: #efefef;
    margin: 0 auto;
    position: relative;
}
.footer {
    height: 110px;
    width: 100%;
    background-color: #222222;
    display: inline-block;
    position: absolute;
    bottom: 0;
}